.page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  display: flex;
  border: 1px solid red;
  justify-content: center;
}

.content__main {
  text-decoration: underline;
}